# Virtual environments
venv/
.venv/

# Environment variables / API keys
.env
.env.*

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Streamlit
.streamlit/

# Uploaded PDFs
uploads/

# FAISS database
faiss_db/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db